---
layout: list
section: associations
permalink: asoc-universitarias/
title: Asociaciones Estudiantiles Universitarias Libres
---

    <h1 class="main-header display-4"><strong>Asociaciones Estudiantiles Universitarias Libres</strong></h1>
  </div>
</div>
<hr class="my-4">

Aquí puedes encontrar listadas las páginas con información de las siguientes asociaciones estudiantes
universitarias que tienen como objetivo la divulgación de tecnologías y cultura libres a través de sus
actividades:<br><br>

<ul id="list">
  {% for org in site.pages %}
  {% if org.path contains 'asoc-universitarias' and org.path contains '.md' and org.section == 'associations' %}
  {% unless org.path contains 'asoc-universitarias.md' %}
  <li><a href="/{{ org.path | remove_first: ".md" }}">{{ org.title }}</a></li>
  {% endunless %}
  {% endif %}
  {% endfor %}
</ul><br>

Si conoces alguna que no aparece aquí puedes añadirla directamente
<a href="https://gitlab.com/eslibre/listados/-/blob/master/asoc-universitarias/README.md" target="_blank">aquí</a>,
pero si puedes, te agradeceríamos que añadieras su página de información en
<a href="https://gitlab.com/eslibre/listados/-/tree/master/asoc-universitarias" target="_blank">este repositorio</a>
usando <a href="https://gitlab.com/eslibre/listados/-/blob/master/plantillas/asoc-universitarias.md" target="_blank">
  esta plantilla</a>.<br><br>

También puedes escribirnos a <a href="mailto:hola@eslib.re">hola@eslib.re</a> si tienes cualquier duda.<br><br>
