---
layout: default
title: Listados de organizaciones
---

<div style="padding-top: 1em" class="media">
  <span class="media-left">
    <img src="/assets/logos/logo.png" alt="Logo esLibre" class="main-logo embed-responsive">
  </span>
  <div class="media-body">
    <h1 class="main-header display-4"><strong>Listados de organizaciones</strong></h1>
  </div>
</div>
<hr class="my-4">

<p>
  En esLibre intentamos mantener un evento anual donde todas las personas estén invitadas a participar, lo único que se necesita es tener algo que decir sobre el mundo de las tecnologías y cultura libre. Nos interesan personas de todas las edades,
  experiencias y perfiles ya sean técnicas o usuarias.<br><br>

  Estamos deseando escuchar y aprender de todas las personas y nuestro objetivo principal es llegar a comunidades de todo tipo. Por eso, para intentar llegar a tantas comunidad como sea posible y tenerlas en cuenta a la hora de organizar eventos,
  queremos crear un listado con diferentes tipos de organizaciones que tienen como objetivo la divulgación y defensa del <a href="https://www.gnu.org/philosophy/free-sw.html" target="_blank">software libre</a>, <a
    href="https://es.wikipedia.org/wiki/Hardware_libre" target="_blank">hardware libre</a> o la <a href="https://freedomdefined.org/Definition/Es" target="_blank">cultura libre</a>.<br>

<ul>
  <li><a href="comunidades/">Comunidades con apoyo explícito a las tecnologías y cultura libres</a></li>
  <li><a href="oficinas-sl/">Oficinas de Software Libre en las Universidades</a></li>
  <li><a href="asoc-universitarias/">Asociaciones estudiantiles universitarias promotoras de las tecnologías libre</a></li>
  <li><a href="otras/">Otras comunidades generales tecnológicas/culturales*</a></li>
</ul>

<span style="color: grey"><cite>*Cualquier comunidad que se dedique a la divulgación tecnológica/cultural y que no esté asociada a tecnologías privativas o intereses comerciales</cite></span><br><br>

¿Cónoces alguna que no esté listada? Haznos un <a href="https://docs.gitlab.com/ee/user/project/merge_requests/creating_merge_requests.html" target="_blank">merge request</a> a <a href="https://gitlab.com/eslibre/listados/" target="_blank">este
  repositorio</a> o escríbenos a <a href="mailto:hola@eslib.re">hola@eslib.re</a>.
</p>
